/* Mantenemos los estilos generales que ya tienes */
.wrapper {
    padding: 0 0 0 60px;
    width: 500px;
    height: 620px;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .3s ease, background 0.3s ease;

}

.wrapper .form-box {
    width: 100%;
}

form h1 {
    font-size: 28px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;
    background: transparent;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px 0 20px;
}




.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 30px;
}

/*Pruebas contenedor Reporte*/
form .input-box1 {
    position: relative;
    width: 90%;
    height: 30px;
    margin: 10px 0;
    background: transparent;
}

.input-box1 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px 0 20px;
}

.input-box1 textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 5px 0 20px;
}


.input-box1 input::placeholder {
    color: #fff;
}

.input-box1 textarea::placeholder {
    color: #fff;
}

.input-box1 .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 30px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    padding: 0 120px 30px 20px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

form button {
    width: 80%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Imagen de fondo específica para el registro */
.wrapper.register-bg {
    background: url('../img/imageback.jpg') no-repeat center center/cover;
}

/* Estilos específicos para el formulario del Config */
.config-wrapper {
    width: 600px; /* Aumenta el ancho del formulario */
    height: auto; /* Permite que el contenido defina la altura */
    padding: 40px; /* Agrega más espacio alrededor */
  }
  
  .config-wrapper .form-box {
    width: 100%; /* Asegúrate de que ocupe todo el espacio disponible */
  }
  
  .config-wrapper h1 {
    font-size: 32px; /* Ajusta el tamaño del título */
  }
  
  .config-wrapper .input-box {
    width: 90%; /* Aumenta el ancho de los campos de entrada */
    height: 40px; /* Ajusta la altura */
    margin: 20 0 0 0; /* Ajusta el margen entre los campos */
  }
  
  .config-wrapper .input-box input {
    font-size: 18px; /* Ajusta el tamaño del texto de entrada */
    padding: 10px 20px; /* Aumenta el padding */
  }
  
  .config-wrapper button {
    width: 90%; /* Asegúrate de que el botón sea más grande */
    height: 50px; /* Aumenta la altura del botón */
    font-size: 18px; /* Aumenta el tamaño del texto del botón */
    margin-top: 20px; /* Agrega espacio encima del botón */
  }
  

