/* ESTILOS GENERALES */
:root {
  --color-general-text: #ffffff; /* Azul oscuro como el cielo antes de una tormenta */
  --color-backgroud-navbar: #0b3f59; /* Azul cielo */
  
  --color-text-navbar: white;
  --color-hover-navbar: #bbdceb; /* Hover más oscuro */
  
  --color-border-headers: #cfe0e8; /* Bordes claros, como nubes */
  
  --color-background-btn-success: #fbd46d; /* Amarillo brillante, inspirado en el sol */
  --color-border-btn-success: #f7c552;
  --color-background-btn-success-hover: #f1b349; /* Hover dorado */
  --color-border-btn-success-hover: #e0a63a;

  --color-background-btn-delete: #ef6c57; /* Naranja fuerte, como el atardecer */
  --color-border-btn-delete: #e85b4b;
  --color-background-btn-delete-hover: #d04b3a;
  --color-border-btn-delete-hover: #ba4233;

  --color-border-post: #ebeff2; /* Bordes suaves */
  --color-name-user: #308cd9; /* Azul brillante como el cielo despejado */

  --color-text-black: #37475a; /* Azul oscuro */
  --color-text-nickname: #8fa3b6; /* Gris azulado, como nubes dispersas */
  --color-number-stats: #28a745; /* Verde fresco, como la naturaleza después de la lluvia */

  --color-border-textarea: #b4d0e3; /* Azul claro para bordes de entradas */
  --color-border-textarea-focus: #74b9ff; /* Azul más vibrante al enfocar */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-general-text);
  background: url('../img/imageback.jpg') no-repeat center center/cover;
  background-size: cover;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.navbar__title{
  color: #fff;
  font-size: 3rem;
  padding: 1.8rem;
}

/* NAVBAR */
.layout__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-backgroud-navbar);
  padding: 1rem;
  height: 60px;
  padding: 10px 50px 10px 50px;
  opacity: 90%;
}

.navbar__header {
  font-size: 2rem;
  color: var(--color-text-navbar);
  font-weight: bold;

}

.navbar__container-lists {
  display: flex;
  justify-content: flex-end; /* Alinea todo el contenido del nav hacia la derecha */
  width: 100%;
  align-items: center;
}

.container-lists__menu-list {
  display: flex;
  margin-right: auto; /* Empuja los elementos hacia la izquierda */
  list-style: none;
  gap: 1.5rem; /* Añade espacio entre los elementos */
}

.container-lists__list-end {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.img-avatar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}


.menu-list__item{
  display: inline-block;
}

.menu-list__link, .list-end__link {
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.menu-list__link:hover, .list-end__link:hover {
  background-color: var(--color-hover-navbar);
}

.menu-list__link {
  color: var(--color-text-navbar);
  font-size: 1.4rem;
  padding: 1.8rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.menu-list__title{
  padding: 0.5rem;
}

.menu-list__link:hover {
  background-color: var(--color-hover-navbar);
  color: white;
}

.active-link {
  background-color: #0044cc;
  color: white;
  font-weight: bold;
}

/* CONTENIDO */
.layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 0;
}

.layout__content_1 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0 70px;
  grid-area: content;

}

.content__header {
  border-bottom: 2px solid var(--color-border-headers);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.content__title {
  font-size: 4rem;
  color: var(--color-name-user);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.content__button {
  background-color: var(--color-background-btn-success);
  border: 1px solid var(--color-border-btn-success);
  padding: 1.2rem 2.5rem; /* Aumentar el padding */
  border-radius: 0.5rem; /* Redondear más los bordes */
  font-size: 1.6rem; /* Aumentar el tamaño de la fuente */
  transition: background-color 0.3s ease;
}

.content__button:hover {
  background-color: var(--color-background-btn-success-hover);
}

/* POSTS */
.posts__post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
}

.post__content {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-text-black);
}

.post__button {
  background-color: var(--color-background-btn-delete);
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post__button:hover {
  background-color: var(--color-background-btn-delete-hover);
}

.post__button--green {
  background-color: var(--color-background-btn-success);
  transition: background-color 0.3s ease;
}

.post__button--green:hover {
  background-color: var(--color-background-btn-success-hover);
}

/* BARRA LATERAL */
.layout__aside {
  padding-right: 2rem;
}

.aside__container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info__general-info {
  display: flex;
  margin-bottom: 1.5rem;
}

.general-info__container-avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 1.5rem;
}

.list-end__link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.list-end__link i {
  margin-right: 0.5rem;
}

.list-end__link:hover {
  background-color: var(--color-hover-navbar);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.container-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAPA */
.weather-container {
  text-align: center;
  padding: 2rem;
}

.weather-container img {
  width: 100px;
}

.weather-container h1 {
  font-size: 2.5rem;
}

.weather-container p {
  font-size: 1.5rem;
}

.leaflet-container {
  width: 100%;
  height: 500px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.popup-weather {
  text-align: center;
  font-size: 1.6rem;
}

.popup-weather h3 {
  font-size: 2rem;
  color: #333;
}

.popup-weather img {
  width: 50px;
  height: 50px;
}

#map {
  width: 100%;
  height: 500px;
}

.marker-icon {
  width: 25px;
  height: 25px;
}

.popup-large {
  font-size: 18px;
  line-height: 1.5;
}

.popup-large h3 {
  font-size: 22px;
  font-weight: bold;
}

.popup-large img {
  width: 60px;
  height: 60px;
}

.map_container {
  padding: 0 60% 0 0;
}

/* Contenedor general para organizar el mapa y el sidebar */
.parent {
  display: grid;
  padding: 40px 50px 0 50px;
  grid-area: content;
  grid-template-columns: 1fr 1fr;  /* Dos columnas iguales */
  grid-template-rows: 1fr 0.5fr;     /* Dos filas iguales */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 82vh;  /* Asegurar que ocupe toda la altura de la ventana */
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;  /* Ocupar toda la primera columna (2 filas) */
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;  /* Ocupar la primera fila de la segunda columna */
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Hacer el texto más grueso, opcional */
  color: #f0f0f0; /* Cambia el color del texto si es necesario */
  padding: 20px; /* Aumentar el espacio alrededor del texto */
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;  /* Ocupar la segunda fila de la segunda columna */
}

.div1, .div2, .div3 {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Sombras para hacer que luzcan más visualmente separados */
}

.div2, .div3 {
  background: transparent;
  backdrop-filter: blur(10px);  /* Color de fondo para los paneles */

}


/*Aside Sidebar*/
.layout__aside{
  grid-area: aside;
  margin-right: 2rem;
}

.aside__header{
  width: 100%;
  border-bottom: 1px solid var(--color-border-headers);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
}

.content__title, .aside__title{
  font-size: 3.5rem;
  margin-right: 1rem;
}


/* Report Alerta */
/* Styles for alert card */
.alerta-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacia los elementos, con la imagen alineada a la derecha */
  align-items: center; /* Centrar verticalmente */
}

.alerta-imagen {
  margin-left: 20px; /* Espacio entre el texto y la imagen */
  width: 200px;
  height: 200px;
}


/* Styles for alert navigation buttons */
.alerta-navigation button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alerta-navigation button:hover {
  background-color: #0056b3;
}

.alerta-navigation button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Form styles */
.report-form {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  padding: 10px;
  background-color: #3793f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #103370;
}


